name: Integration tests

on:
  pull_request:
  schedule:
    - cron: "0 15 * * SAT"

jobs:
  integration-tests:
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      pre-run-script: |
        -c "sudo microk8s config > ${GITHUB_WORKSPACE}/kube-config
        chmod +x tests/integration/pre_run_script.sh
        ./tests/integration/pre_run_script.sh"
      extra-arguments: |
        --kube-config=${GITHUB_WORKSPACE}/kube-config
      modules: '["test_agent_k8s.py"]'
      juju-channel: 3/stable
      channel: 1.35-strict/stable
      self-hosted-runner: true
      self-hosted-runner-label: "xlarge"
      microk8s-addons: "dns ingress rbac storage registry"
      with-uv: true
      tmate-debug: true
      tmate-timeout: 90
  allure-report:
    if: ${{ !cancelled() && github.event_name == 'schedule' }}
    needs:
      - integration-tests
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
